body {
    background-color: #222222;
    color: #eeeeee;
    font-family: 'BIZ UDGothic', sans-serif;
}

input[type="text"], textarea {
    font-size: 16px;
}

button:not(:disabled) {
    cursor: pointer;
}

textarea {
    background-color: #eeeeee;
    color: #222222;
    border: 1px solid #888888;
    resize: vertical;
}

.centering {
    display: flex;
    justify-content: space-around;
    margin: 0.5em;
}

.link {
    color: deepskyblue;
    float: right;
}

.btnParent {
    margin: auto;
}

.signalParent {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 5vw;

}

.onstartSignal,
.onaudiostartSignal,
.onsoundstartSignal,
.onspeechstartSignal {
    border-radius: 50%;
    background-color: crimson;
    padding: 1vw;
    margin-right: 1vw;
}

.result,
.resultFinishedChild {
    color: #222222;
    border: 1px solid #888888;
    width: 90vw;
}

.result {
    background-color: #eeeeee;
    min-height: 5em;
}

.resultFinishedChild {
    background-color: #bbbbbb;
    min-height: 1em;
    margin-bottom: 0.5em;
}

.finalTranscript {
    color: #222222;
}

.interimTranscript {
    color: #888888;
}

.inputText {
    width: 90vw;
    min-height: 75vh;
}